<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Template for the search results view for EXT:solr</title>
</head>
<body>

<!-- ###SOLR_MLT### begin -->

<div id="tx-solr-search-mlt">
	<ul class="results-list">
		<!-- ###LOOP:RESULT_DOCUMENTS### begin -->
		<!-- ###LOOP_CONTENT### -->
		<li class="results-entry">
		<!--	###LINK:###RESULT_DOCUMENT.TITLE###|0|tx_solrnntp[id]=###RESULT_DOCUMENT.ID###|1### -->
			<a href="###RESULT_DOCUMENT.URL###">###RESULT_DOCUMENT.TITLE###</a>
		</li>
		<!-- ###LOOP_CONTENT### -->
		<!-- ###LOOP:RESULT_DOCUMENTS### end -->
	</ul>
</div>

<!-- ###SOLR_MLT### end -->



<!-- ###SOLR_MLT_UNAVAILABLE### begin -->
	###LLL:searchUnavailable###
<!-- ###SOLR_MLT_UNAVAILABLE### end -->

</body>
</html>